/* #global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* #end global */
/* #common */
header {
  position: sticky;
  top: 0;
  background-color: var(--dbox--light);
  z-index: 10;
}
nav {
  justify-content: space-between;
}
footer {
  background-color: var(--dbox--dark);
  color: var(--dbox--light);
}
li {
  list-style: none;
}
li a {
  color: var(--dbox--dark);
  font-weight: 600;
  font-size: 1.25rem;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 96px;
  padding-top: 2rem;
  text-align: left;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}

/* #end common */
/* #utility */

:root {
  --dbox--light: #ffffff;
  --dbox--dark: #000000;
  --dbox--btn: #0061ff;
  --dbox--btn-text: #deeaff;
  --dbox--primary: #b4d0e7;
  --dbox--text: #692750;
  --dbox--designit: #a2d39b;
  --dbox--uf: #0093ce;
  --dbox--asu: #61082b;
  --dbox--topps: #ff1c1c;
  --dbox--shadow: #d1e9cd;
  --dbox--company: #f5f5f5;
  --dbox--wbr: #d5001f;
  --dbox--hearst: #b4d0e7;
  --dbox--lp: #0d2481;
  --dbox--clear: #ffd830;
  --dbox--language: #999999;
}
.d_flex {
  display: flex;
}
.d_column {
  display: flex;
  flex-direction: column;
  gap: 1.3125rem;
}
.container {
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}
.container_contents {
  width: 50%;
  max-width: 1400px;
  margin: 0 auto;
}
.flex_wrap {
  flex-wrap: wrap;
}
.justify_center {
  justify-content: center;
}
.aline_items {
  align-items: baseline;
  gap: 0.3125rem;
}
.text_decoration {
  text-decoration: underline;
}
.mrg_top {
  margin-top: 11rem;
}

.pdg_bot {
  padding-bottom: 5.25rem;
}
.pdg_top {
  padding-top: 5.875rem;
}
.pdg {
  padding: 2.25rem;
}
.border_botton {
  border-bottom: 1px solid black;
}
/* #end utility */

/* #debug */

.debug header {
  background-color: aquamarine;
  height: 5.3125rem;
}

.debug nav div {
  background-color: bisque;

  height: 5.3125rem;
}
.debug main {
  background-color: lightgrey;
  height: 362.5rem;
}
.debug .introduction {
  background-color: var(--dbox--primary);
  height: 46.25rem;
}

.debug .introduction .d_flex div {
  background-color: yellow;
  height: 25rem;
  width: 25rem;
}
.debug .col_3 {
  background-color: violet;
}

.debug .enterprise {
  background-color: lightcoral;
}

.debug .find_partner div {
  background-color: lightblue;
  height: 37.5rem;
}
.debug .business div {
  background-color: lightgreen;
  height: 28.75rem;
}
.debug .use {
  background-color: lightpink;
  height: 9.375rem;
}

.debug .designit div {
  background-color: lightgoldenrodyellow;
  height: 37.5rem;

  border: 1px solid black;
}
.debug footer {
  background-color: burlywood;
  height: 35.625rem;
}
.debug .free_trial {
  background-color: #b4d0e7;
  height: 21.875rem;
}
.debug .question {
  background-color: burlywood;
  height: 34.375rem;
}
.debug .link div {
  background-color: #692750;
  height: 21.875rem;
}
.start:hover {
  opacity: 0.6;
}
.btn_partner:hover {
  background-color: var(--dbox--dark);
  color: var(--dbox--light);
}
/* #enddebug */
/* #header */

.link_logo {
  align-items: center;
  justify-content: space-evenly;
  padding: 1.25rem;
  gap: 1.25rem;
}
.start {
  background-color: var(--dbox--btn);
  color: var(--dbox--btn-text);
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  transition: 0.5s;
}
.link_logo .border_botton {
  border-bottom: none;
}
/* .link_logo li .border_botton:hover {
  border-bottom: 1px solid black;
} */

/* #end header */
/* #main */
.introduction {
  background-color: var(--dbox--primary);
  height: 42.75rem;
}
.introduction .d_flex {
  justify-content: center;
  padding-top: 2.25rem;
}
.img_offer {
  width: 61.5rem;
  height: 31rem;
}
.btn_trial {
  width: 50%;
  font-weight: 200;
  font-size: 0.9375rem;
  border: none;
}
.fa-2xl {
  font-size: 3em;
  padding-top: 80px;
}
/* #end parte superiore */

/* #card */
.pass {
  border-bottom: 0.0625rem solid black;
  padding: 1.25rem;
  text-align: center;
}
.pass span {
  font-size: 1.125rem;
  font-weight: 600;
}
.row {
  gap: 1.25rem;
  justify-content: space-between;
}
.col_3 {
  width: calc(100% / 12 * 4);
  border: 1px solid black;
}
.card {
  padding: 1.875rem;
}
.price {
  font-size: 1.25rem;
  font-weight: bold;
}
.month {
  font-weight: 100;
  margin-top: -15px;
  margin-bottom: 30px;
}

.btn_buy {
  padding: 1rem;
  border: none;
  margin-top: 3.25rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.625rem;
  text-align: center;
}
.border {
  position: relative;

  height: 0.625rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.line {
  position: absolute;
  width: 3.25rem;
  height: 0.125rem;
  background-color: lightgray;
  border-left: 5px solid lightgray;
}
/* #end card */
/* #enterprise */
.enterprise {
  text-align: center;
  width: 100%;
  padding: 1.125rem;
  border-bottom: 1px solid black;
}
.enterprise_card {
  margin-top: 2.25rem;
  border: 1px solid black;
}

.contac {
  font-size: 0.9375rem;
  font-weight: bold;
}
.enterprise_text {
  width: 50%;
  padding-top: 3.125rem;
}
/* #end enterprise */
/* partner */
.find_partner {
  gap: 1.25rem;
}

.find_partner div {
  width: calc(100% / 2);
}
.partner {
  height: 32.5rem;
}
.partner_text {
  padding-top: 0.9375rem;
  padding-bottom: 4rem;
}
.btn_partner {
  background-color: var(--dbox--light);
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  border: 1px solid black;
  color: var(--dbox--dark);
  transition: 0.5s;
}
.img_business {
  height: 15.3125rem;
}
.titol_business {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
.business div {
  width: 32%;
}

.business {
  gap: 1.2rem;
  flex-wrap: wrap;
}
/* #endpartner */
/* #use */
.use {
  margin-top: 3.125rem;
}
.use h2 {
  width: 50%;
  padding-bottom: 3.25rem;
}
/* #end use */
/* #company */

.containers {
  display: flex;
  justify-content: space-between;
}
.container_company {
  width: calc(100% / 3);
}
.square_container {
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 337px;
  height: 337px;
  justify-content: center;
  align-items: center;
}
.designit {
  background-color: var(--dbox--designit);
  box-shadow: 10px 10px 0px 0px var(--dbox--shadow) inset;
}
.img_company {
  filter: invert(100%);
  width: 10.9375rem;
  height: 4.6875rem;
}
.asu {
  background-color: var(--dbox--asu);
}
.uf {
  background-color: var(--dbox--uf);
}
.topps {
  background-color: var(--dbox--topps);
}
.wbr {
  background-color: var(--dbox--wbr);
}
.hearst {
  background-color: var(--dbox--hearst);
}
.lonely_planet {
  background-color: var(--dbox--lp);
}
.clear_channel {
  background-color: var(--dbox--clear);
}
.card_company {
  padding: 2.5rem;
  background-color: var(--dbox--company);
}
.author {
  line-height: 14.25rem;
}
/* #endcompany */
/* #free trial */
.free_trial {
  background-color: var(--dbox--primary);
}
.free_trial h2 {
  color: var(--dbox--text);
}
.free_card {
  justify-content: space-evenly;
  align-items: center;
  padding: 2.875rem 0;
}
.btn_style {
  width: 40%;
  border: none;
  text-align: center;
  font-size: 1.2rem;
}
.question_card {
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  border-top: 1px solid black;
}
.display_none {
  display: none;
}
.question_card:hover p {
  display: block;
}

.question_card:hover .display_of {
  transform: rotate(180deg);
}
/* #endfree trial */
/* #end main */
/* #footer */

.link div {
  width: calc(100% / 12 * 4);
}
.link {
  gap: 20px;
  padding-top: 5.25rem;
}
.link h3 {
  line-height: 4rem;
  font-size: 1.7rem;
}
.link li {
  line-height: 2rem;
}
.link a {
  color: var(--dbox--btn-text);
  font-size: 1rem;
  font-weight: 100;
}
.link a:hover {
  border-bottom: 1px solid white;
}
.border_footer {
  text-align: right;
}
.border_footer .line {
  background-color: var(--dbox--light);
  width: 9.25rem;
}
.earth {
  padding-right: 0.5rem;
}
.language {
  color: var(--dbox--language);
}
.language:hover .languages {
  display: block;
  color: var(--dbox--light);
}
/* #end footer */
