/* #global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* #end global */
/* #common */
nav {
  justify-content: space-between;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dbox--dark);
  font-weight: 600;
  font-size: 1.25rem;
}
h1 {
  font-size: 96px;
  padding-top: 2rem;
  text-align: left;
}

/* #end common */
/* #utility */

:root {
  --dbox--light: #ffffff;
  --dbox--dark: #000000;
  --dbox--btn: #0061ff;
  --dbox--btn-text: #deeaff;
  --dbox--primary: #b4d0e7;
  --dbox--text: #692750;
}
.d_flex {
  display: flex;
}
.container {
  max-width: 70%;
  margin: 0 auto;
}
.justify_center {
  padding-top: 3.125rem;
  justify-content: center;
}

/* #end utility */

/* #debug */

.debug header {
  background-color: aquamarine;
  height: 5.3125rem;
}

.debug nav div {
  background-color: bisque;

  height: 5.3125rem;
}
.debug main {
  background-color: lightgrey;
  height: 362.5rem;
}
.debug .introduction {
  background-color: var(--dbox--primary);
  height: 46.25rem;
}

.debug .introduction .d_flex div {
  background-color: yellow;
  height: 25rem;
  width: 25rem;
}
.debug .col_3 {
  background-color: violet;
}

.debug .enterprise {
  background-color: lightcoral;
}

.debug .find_partner div {
  background-color: lightblue;
  height: 37.5rem;
}
.debug .business div {
  background-color: lightgreen;
  height: 28.75rem;
}
.debug .use {
  background-color: lightpink;
  height: 9.375rem;
}

.debug .designit div {
  background-color: lightgoldenrodyellow;
  height: 37.5rem;

  border: 1px solid black;
}
.debug footer {
  background-color: burlywood;
  height: 35.625rem;
}
.debug .free_trial {
  background-color: #b4d0e7;
  height: 21.875rem;
}
.debug .question {
  background-color: burlywood;
  height: 34.375rem;
}
.debug .link div {
  background-color: #692750;
  height: 21.875rem;
}

/* #enddebug */
/* #header */

.link_logo {
  align-items: center;
  justify-content: space-evenly;
  padding: 1.25rem;
  gap: 1.25rem;
}
.start {
  background-color: var(--dbox--btn);
  color: var(--dbox--btn-text);
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.25rem;
}
/* #end header */
/* #main */
.introduction {
  background-color: var(--dbox--primary);
}
.introduction .d_flex {
  justify-content: center;
}
.img_offer {
  width: 61.5rem;
  height: 25rem;
}

.row {
  gap: 1.25rem;
  padding-top: 9.375rem;
  justify-content: space-between;
}
.col_3 {
  height: 56.25rem;
  width: calc(100% / 12 * 4);
}

.enterprise {
  height: 16.875rem;
  width: 100%;
  padding-top: 3.125rem;
}
.find_partner {
  gap: 1.25rem;
}

.find_partner div {
  width: calc(100% / 2);
}

.business div {
  width: 33%;
}

.business {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.use {
  width: 50%;
  margin-top: 3.125rem;
}

.designit div {
  width: calc(100% / 2);
}
.designit {
  padding-top: 3.125rem;
}
/* #end main */
/* #footer */
.link div {
  width: calc(100% / 12 * 4);
}
.link {
  gap: 20px;
}
/* #end footer */
