/* #global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* #end global */

/* #utility */

:root {
  --dbox--light: #ffffff;
  --dbox--dark: #000000;
  --dbox--btn: #0061ff;
  --dbox--primary: #b4d0e7;
  --dbox--text: #692750;
}
.d_flex {
  display: flex;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}
.justify_center {
  padding-top: 3.125rem;
  justify-content: center;
}

/* #end utility */

/* #debug */
.debug header {
  background-color: aquamarine;
  height: 5.3125rem;
}
.debug nav {
  justify-content: space-between;
}
.debug nav div {
  background-color: bisque;
  width: 35rem;
  height: 5.3125rem;
}
.debug main {
  background-color: lightgrey;
  height: 255rem;
}
.debug .introduction {
  background-color: var(--dbox--primary);
  height: 46.25rem;
}
.debug .introduction .d_flex {
  justify-content: center;
  padding: 10.625rem;
}
.debug .introduction .d_flex div {
  background-color: yellow;
  height: 25rem;
  width: 25rem;
}
.debug .col_3 {
  background-color: violet;
  height: 56.25rem;
  width: calc(100% / 12 * 4);
}
.debug .row {
  gap: 1.25rem;
  padding-top: 9.375rem;
  justify-content: space-between;
}
.debug footer {
  background-color: burlywood;
  height: 35.625rem;
}
.debug .enterprise {
  background-color: lightcoral;
  height: 16.875rem;
  width: 100%;
  padding-top: 3.125rem;
}
.find_partner {
  gap: 1.25rem;
}
.debug .find_partner div {
  background-color: lightblue;
  height: 37.5rem;
  width: calc(100% / 2);
}
.debug .business div {
  background-color: lightgreen;
  height: 28.75rem;
  width: 33%;
}
.debug .use {
  background-color: lightpink;
  height: 9.375rem;
  width: 50%;
  margin-top: 3.125rem;
}

/* #end debug */
/* #main */
.business {
  gap: 0.5rem;
  flex-wrap: wrap;
}
/* #end main */
